*{
    font-family: Comfortaa, sans-serif;
    background-color:rgb(182, 132, 220);
    color:rgb(2, 35, 65);
}

#nav-bar{
    background: linear-gradient(45deg,
    hotpink,
    goldenrod,
    cyan);
    position:fixed;
    top:0;
    right:0;
    width:100%;
    font-size: 1.5em;
    font-weight: bold;
    display:inline-flex;
    align-items: center;
    justify-content: space-around;
    height: 60px;
}

.navbar{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    margin-bottom: 10vh;
}

h1{
    font-family: 'Cherry Swash', cursive;
    font-size: 5em;
    padding-bottom: 0;
}

.fab{
    font-size: 3em;
    display: flex;
    justify-content: space-around; 
    padding: 20px;/*how do I add more space between these?*/
}

#connect{
    display: flex;
    flex-direction: column;
    align-items:center;
    justify-content: space-around;
}

#self-portrait{
    max-height: 300px;
    max-width: auto;
    border-radius: 50%;
    border: 3.5px double indigo;
    padding:0;
}

#welcome-section{
    width:100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: auto;
    margin-bottom: 8vh;
    position: static;
}

#skills{
    margin-bottom: 8vh;
}

#nav-link{
    background: transparent;
}

#nav-link:hover{
    transform: scale(1.25);
    color: #4f4d91;
    font-family: 'Righteous', serif;
}

.contact-form{
    align-items:center;
    justify-content: center;
    padding: 3vmin;
    font-size: 1.5rem;
    margin: 10vmin !important;
}

h2{
    font-family: 'Montserrat', Comfortaa, sans-serif;
    font-size: 2em;
    text-align: center;
}

h4{
    font-size: 1.2em;
    font-weight: bold;
    text-align: center;
}

ul{
    list-style-type: circle;
    text-align: left;
    justify-content: center;
    padding: 10px;
    font-size: 1.25rem;
    margin-left: 25vw;
}

#heatmap, #google-tables, #fcc-project, #campaign, #product-bubble, #tree-map{
    height: auto;
    width: 25vmax;
    align-self:baseline;
}

#projects{
    padding-bottom: 30px;
}

footer{
    font-size: 10px;
    border-top: 2px double indigo;
    text-align: center;
    position: relative;
    display: block;
    padding: 15px;
}


#present{
    width:90%;
    display: grid;
    grid-template-columns: 45% 45%;
    column-gap: 10vmax;
    justify-content:center;
    margin-bottom: 15px;
    margin-left: 5%;
}


#resume-heading{
    border-bottom: 1.5px solid rgb(120, 6, 116);
}

p:not(#copyright){
    font-size: 1.25rem;
}

@media screen and (max-width: 1023px){
    body{
        text-align: center;
        width: 100%;
    }
    
    .navbar{
        width:100vw !important;
        top: 0;
    }
    
    #nav-bar{
        height: 45px;
        font-size: 1em;
    }

    #welcome-section{
        margin: 55px 0 25vmin !important;
        width: 90%;
        height: 100% !important;

    }

    .resume{
        display: grid;
        grid-template-columns: 1fr !important;
        padding: 1em;
        grid-row-gap: 75px;
        margin-top: 10vmax !important;
    }

    footer{
        width:100%;
        margin-top: 15vh !important;
    }
}